@import '@repo/ui/styles.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-sans text-body-m tracking-body-m text-blackberry-800 dark:text-blackberry-100;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
  @apply text-h4 tracking-h4 mb-10 w-full font-normal font-mono;
}

h5 {
  @apply text-h5 tracking-h5;
}

p {
  @apply text-blackberry-800/90 dark:text-blackberry-100;
}
